@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(../public/images/bg.avif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.text-name{
    font-size: 100px;
    font-weight: 500;
    -webkit-text-stroke: 2px #fff;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: normal;
}